.edit-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.edit-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.edit-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--bg-primary);
}
